.flex{
  display: flex;
}
.flex-ac{
  align-items: center;
}
.flex-ac-js{
  justify-content: space-between;
}
.flex-dc{
  flex-direction: column;
}
.main{
  width:100%;
  /*height:100%;*/
  overflow-y: scroll;
  margin-bottom: 130px;
  padding:20px;
}
